<div class="row">
  <div class="col-sm-6">
    <div class="height-400">
      <div class="text-container">
        <p> Don't you hate it when just one sock goes missing... What are you supposed to do with the last sock standing? </p> </br>
        <p> We can help. </p></br>
        <p> Upload an image of your remaining sock, chuck in any extra specifications and we'll send you a matching sock buddy asap! We promise they will make an adorable pair. </p>
      </div>
    </div>
  </div>

  <%= render 'new' %>

</div>
