<% if @socks.size > 0 %>

  <h2>Your socks:</h2>
  <div class="row">
    <% @socks.each do |sock| %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <%= image_tag(sock.avatar_url, class: "img-thumbnail smaller-img center-block") if sock.avatar? %>
        <div class="index-page-links">
          <%= render partial: 'sock_order_links', locals: {sock: sock} %>
        </div>
      </div>
    <% end %>
  </div>
  <br>

<% else %>

  <div class="row">
    <div class="col-sm-6">
      <div class="height-400">
        <div class="text-container">
          <p> You haven't ordered any socks yet! </p>
        </div>
      </div>
    </div>

  <%= render 'new' %>

<% end %>
