<div class="order-show-container">
  <h3>Payment confirmation</h3>
  <ul>
    <li><b> Payment reference: </b> <%= @order.payment_reference %>  </li>
    <li><b> Amount: </b> <%= number_to_currency( (@order.amount / 100) ) %>  </li>
    <li><b> Date: </b> <%= Time.now.strftime("%d %B %Y") %> </li>
    <li><b> Description: </b> <%= @order.description %> </li>
  </ul>
  <h3>Thanks for your support!</h3>
</div>
