/*
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

.main {
  margin-top: 0;
}

.flash-container, .alert  {
  display: inline-block;
  position: fixed;
  right: 0;
  margin: 0;
}

.navbar {
  margin: 0;
}
