// Place all the styles related to the socks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.height-600 {
  height: 600px;
  margin: 80px 50px;
}


.sock-upload-image {
  height: 100px;
  width: 100px;

  span {
    font-size: 100px;
  }

}

.sock-upload-form .btn {
  margin: 20px auto;
}

p {
  padding: 10px;
}
