// Place all the styles related to the socks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.height-400 {
  height: 400px;
  margin: 30px 10px;
}

a {
  color: #000;
}

h2 {
  margin-bottom: 40px;
}

#sock-upload-image {
  height: 100px;
  width: 100px;

  &:visited {
    text-decoration: none;
    color: #000;
  }

  &:hover {
    text-decoration: none;
    color: #000;

    .bordered {
      border: 1px solid black;
      margin: 0;
    }
  }
}

.sock-details-form {
  .btn {
    margin: 20px auto;
  }
  a {
    text-decoration: underline;
  }
}

.image-container {
  height: 320px;
  width: 320px;
  margin: 0 auto;

  img {
    position: absolute;
    margin: 0 auto;
  }
  #polaroid-image {
    left: 150px;
    top: 60px;
  }
  #sock-image {
    left: 180px;
    top: 130px;
  }
}

.bigger-img {
  margin-top: 80px;
}

.smaller-img {
  height: 150px;
}

.text-container {
  padding: 50px 0;

  p {
    margin-top: 20px;
  }
}

.btn {
  color: #FFF;
  background-color: #000;
  height: 50px;
  margin-top: 15px;
}

#big-toe-image, #all-toe-image {
  position: absolute;
  left: 250px;
  bottom: 200px;
}

.register-or-not {
  button {
    width: 350px;
    height: 200px;
    border-radius: 20px;
    font-size: 20px;
  }
}
