<p>Welcome!</p>

<p>You can confirm your account email through the link below:</p>
  <%= @resource %>
  <%= confirmation_url %>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
